#editBanner {
  display: none;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 60px;
}

#editButton {
  background-color: inherit;
  border: none;
  cursor: pointer;
  display: none;
  align-items: center;
  gap: 0.5rem;
}

#portfolioTitle {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

#portfolio h2 {
  text-align: center;
  margin: 0;
}

#gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

#gallery img {
  width: 100%;
}

#filters {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 2rem 0;
}

#filters button {
  border-radius: 60px;
  border: 1px solid #1d6154;
  font-family: Sora, sans-serif;
  font-size: 16px;
  padding: 9px 20px;
  color: #1d6154;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

#filters button:hover {
  background-color: #1d6154;
  color: white;
}

#filters button.active {
  background-color: #1d6154;
  color: white;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#modalClose {
  position: absolute;
  top: 1.8rem;
  right: 2rem;
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
  font-weight: bold;
}

#modalWrapper {
  background: white;
  border-radius: 10px;
  padding: 1rem;
  /* padding: 8rem; */
  width: 90%;
  max-width: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
}

.page {
  flex-direction: column;
  gap: 1rem;
}

#modalPage-1 {
  display: flex;
}

#modalPage-2 {
  display: none;
}
