#editBanner {
  display: none;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 60px;
}

#editButton {
  background-color: inherit;
  border: none;
  cursor: pointer;
  display: none;
  align-items: center;
  gap: 0.5rem;
}

#portfolioTitle {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

#portfolio h2 {
  text-align: center;
  margin: 0;
}

#gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

#gallery img {
  width: 100%;
}

#filters {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 2rem 0;
}

#filters button {
  border-radius: 60px;
  border: 1px solid #1d6154;
  font-family: Sora, sans-serif;
  font-size: 16px;
  padding: 9px 20px;
  color: #1d6154;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

#filters button:hover {
  background-color: #1d6154;
  color: white;
}

#filters button.active {
  background-color: #1d6154;
  color: white;
}
