.bold {
  font-weight: bold;
}

main h2 {
  text-align: center;
}

.login-form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group > label {
  color: #3d3d3d;
  font-size: 1rem;
}

.form-group > input {
  height: 50px;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding: 0 20px;
}

.login-form > button {
  background-color: #1d6154;
  color: white;
  font-family: 'Syne';
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  margin-top: 0.5rem;
  padding: 0 30px;
  max-width: 180px;
  margin: 0 auto;
}

.login-form > button:hover {
  background-color: #0e2f28;
}

.forgot-password {
  color: #3d3d3d;
  text-align: center;
  text-decoration: underline;
  font-size: 14px;
}

.error-message {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  display: none;
  text-align: center;
}
